[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = "*"
alpaca-trade-api = "*"
python-dotenv = "*"
requests = "*"
arrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
